{%extends "layout.html"%}
{%block content%}

<div class="container-fluid">
<h1>Welcome to ICT Academy of Kerala</h1>
<p>
    ICT Academy of Kerala is a Social Enterprise created in a Public Private Partnership model (PPP) for imparting ICT skills to the youths of Kerala and improve their employability opportunities in the Industry. The Company is supported by Govt. of India , partnered by Govt. of Kerala and the ICT industry.
</p>
</div>
<div class="container-fluid">
<h2>Vision</h2>
<p>
    To emerge as the single-point establishment for all the ICT related capability building in the State
</p>
</div>
<br>
<div class="container-fluid"><h2>Lorem Ipsum</h2>

<p >It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
           
</div>       
<div class="container-fluid">
<h2>Contact Us</h2>
<p>
ICT Academy of Kerala, Module No.L-9, <br>
Thejaswini Building, Technopark,Trivandrum <br>
Telephone: +91 471 2700 811 <br>
Fax: +91 471 2700 812 <br>
Email: info@ictkerala.org <br>
</p>
</div>
{%endblock%}